
Form {
    padding-top: 6%;
    padding-left: 1%;
    padding-right: 2%;
}

Button {
    
    margin-top: 26px;
    margin-left: 0px
}

h3 {
    padding-left: 325px;
}

.button {
    margin-left: 45%;
    margin-top: 4%;
}

